/*General*/
body {
  font-size: 24px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.subtitle h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

.subtitle h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Splash */
.splash {
  position: relative;
  max-width: auto;
  padding: 0;
  margin: 0 auto;
  height: 1000px;
  background-image: url("https://images.pexels.com/photos/257897/pexels-photo-257897.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center center;
  background-size: cover;
}

.splash-inner {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.splash-inner h1 {
  font-size: 40px;
  text-align: center;
}

.splash-inner h2 {
  font-size: 70px;
  text-align: center;
}

/* Navigation */
.navigation {
  background: none;
  padding: 12px 0;
}

.navigation .row {
  justify-content: space-between;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  margin-right: 36px;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  color: goldenrod;
}

/* Services */
.services {
  max-width: auto;
  padding: 40px;
  margin: 0 auto;
}

.services .row {
  padding: 40px;
}

.services i {
  text-align: center;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  color: #f39c12;
  border-radius: 50%;
  border: 3px solid #f39c12;
}

.services .box {
  text-align: center;
  padding: 0 20px;
  font-size: 16px;
  margin: 0;
}

.services .box p {
  font-size: 20px;
  line-height: 1.5;
}

/* Our Portfolio */
.our-portfolio {
  background-color: #dfe4ea;
}

.our-portfolio .box {
  height: 450px;
  width: 300px;
  text-align: center;
}

.pic {
  justify-content: space-between;
  margin-bottom: 20px;
  height: 300px;
  width: 100%;
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
.page-footer .container {
  position: relative;
  height: 100px;
}

.page-footer h5 {
  position: absolute;
  float: left;
}

.page-footer ul {
  padding: 0;
  position: absolute;
  margin: 48px auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-footer ul li {
  list-style-type: none;
  display: inline-block;
}

.page-footer li {
  font-size: 0;
  color: white;
}

.page-footer i {
  text-align: center;
  color: white;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}

.fa-twitter {
  background: #00a8ff;
}

.fa-facebook-f {
  background: #1e3799;
}

.fa-pinterest-p {
  background: #c23616;
}

.fa-google-plus-g {
  background: #e84118;
}

.page-footer i:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
